<ion-content [fullscreen]="true">
  <ion-app>

    <div class="ion-page"></div>

    <ion-content>
      <ion-fab>
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button>
          <ion-icon (click)="borrarSecion()" (click)="logout()" [routerLink]="['/home']" name="log-out"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon [routerLink]="['/pedir']" name="search"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon [routerLink]="['/llevar']" name="car"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon [routerLink]="['/home']" name="home"></ion-icon>
        </ion-fab-button>

      </ion-fab-list>
    </ion-fab>


      <div id="contenedor1">

        <h2>Bienvenido, {{ userName }}!</h2>

        <h3>Viajes Creados</h3>
        <ion-list>
          <ion-item class="section" *ngFor="let viaje of viajesCreados">
            <ion-label>
              <h2>{{ viaje.destino }}</h2>
              <p>Nombre: {{ viaje.nombre }}</p>
              <p>Estado: {{ viaje.estado }}</p>
              <p>Fecha: {{ viaje.fecha }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

      <h3>Viajes Aceptados</h3>
      <ion-list>
        <ion-item class="section" *ngFor="let viaje of viajesAceptados">
          <ion-label>
            <h2>{{ viaje.destino }}</h2>
            <p>Estado: {{ viaje.estado }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      



      <h2>Informacion de la Cuenta</h2>
        <p>Nombre: {{ userName  }}</p>
        <p>Correo: {{ email }}</p>
        <p>Clave: {{  clave  }}</p>





      <h2>Cambiar Contraseña</h2>

      <input type="password" placeholder="Contraseña" [(ngModel)]="clave3">
      <ion-button (click)="cambiarContra()">Cambiar Contraseña</ion-button>
      </div>
      
    </ion-content>
  
  </ion-app>


</ion-content>