<ion-content [fullscreen]="true">

  <div id="contenedor">
    <ion-icon src="/assets/logo.svg" id="logo"></ion-icon>
    <h1>TeLLevoAPP</h1>
    <input type="text" placeholder="Usuario@ejemplo.com" [(ngModel)]="usuario">
    <input type="password" placeholder="Contraseña" [(ngModel)]="clave">
    <button (click)="login()">Ingresar</button>
    <p (click)="setOpen(true)">Olvidé mi contraseña</p>
    <p>No tienes Cuenta? <a [routerLink]="['/registro']">Haz click Aquí</a></p>
    <button expand="full" color="secondary" [routerLink]="['/home']">Volver</button>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <div id="contenedor-modal">
          <ion-icon src="/assets/logo.svg"></ion-icon>
          <h1>Recupera tu Clave</h1>
          <input type="text" placeholder="Usuario@ejemplo.com" [(ngModel)]="usuario">
          <ion-button (click)="cambiarContra()">Recuperar</ion-button>
          <ion-button (click)="setOpen(false)">Cancelar</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
