<ion-content [fullscreen]="true">
  <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  <div id="contenedor">
    <ion-icon src="/assets/logo.svg" id="logo"></ion-icon>
    <h1>TeLLevoAPP</h1>
    <input type="text" placeholder="nombre de usuario" [(ngModel)]="usuario">
    <input type="password" placeholder="contraseña" [(ngModel)]="clave">
    <button (click)="login()">Ingresar</button>
    <p>Olvidé mi contraseña</p>
    <p>No tienes Cuenta? <a [routerLink]="['/registro']">Haz click Aqui</a></p>
    <button [routerLink]="['/home']">Volver</button>
    
  </div>

</ion-content>