<ion-content [fullscreen]="true">
 





  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
        <p></p>
        <ion-button [routerLink]="['/login']">Login</ion-button>
        <ion-button [routerLink]="['/registro']">Registro</ion-button>
        <ion-button [routerLink]="['/home']">Home</ion-button>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content"></div>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header><ion-content class="ion-padding">
        

        
  <div id="contenedor">

    <H1>Listo para Ayudar?</H1>
    <p>En esta seccion podras ver a quienes puedes ayudar con transporte.</p>
    
    <ion-icon src="/assets/vehiculo.svg" id="iconVehicle"></ion-icon>


    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Destino</th>
          <th>  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of destinos">
          <td>{{ item.nombre }}</td>
          <td [(ngModel)]="direccions">{{ item.destino }}</td>
          <td><ion-button [routerLink]="['/mapa']" (click)="cargarViaje(direccions)">Llevar</ion-button></td>
        </tr>
      </tbody>
    </table>






  </div>
      
    </ion-content>
      
  </ion-app>

</ion-content>
