<ion-content [fullscreen]="true" >


  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
        <p></p>
        <ion-button [routerLink]="['/login']">Login</ion-button>
        <ion-button [routerLink]="['/registro']">Registro</ion-button>
        <ion-button [routerLink]="['/home']">Home</ion-button>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content"></div>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header><ion-content class="ion-padding">
        

        <div id="contenedor">

          <H1>Listo para Pedir?</H1>
          <p>En esta sección podras pedir movilización</p>
          <ion-icon src="/assets/vehiculo.svg" id="iconVehicle"></ion-icon>
          <ion-list [inset]="true">
            <ion-item>
              <ion-label>Nombre: Pedro Vidal</ion-label>
              <ion-label>Vehiculo: Ford Raptor</ion-label>
              <ion-button>Pedir</ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Nombre: Rodrigo Pereira</ion-label>
              <ion-label>Vehiculo: Chevrolet Pick-Up</ion-label>
              <ion-button>Pedir</ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Nombre: Francisco Martinez</ion-label>
              <ion-label>Vehiculo: Toyota Hilux</ion-label>
              <ion-button>Pedir</ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Nombre: Cristian Muñoz</ion-label>
              <ion-label>Vehiculo: Nissan New Navara</ion-label>
              <ion-button>Pedir</ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Nombre: Juan Nuñez</ion-label>
              <ion-label>Vehiculo: Mitsubishi L-200</ion-label>
              <ion-button>Pedir</ion-button>
            </ion-item>
          </ion-list>


        </div>
          
       
      
    </ion-content>
      
    
   
    
  </ion-app>

      

  

</ion-content>
