<ion-content [fullscreen]="true" >


  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
        <p></p>
        <ion-button [routerLink]="['/login']">Login</ion-button>
        <ion-button [routerLink]="['/registro']">Registro</ion-button>
        <ion-button [routerLink]="['/home']">Home</ion-button>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content"></div>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header><ion-content class="ion-padding">
        

        <div id="contenedor">
          
          <H1>Listo para Pedir?</H1>
          <ion-icon src="/assets/vehiculo.svg" id="iconVehicle"></ion-icon>
          <p>En esta sección podras pedir movilización</p>

          <h6>Hasta donde?</h6>
          <input  type="text" placeholder="Ingrese su Nombre / Apodo" [(ngModel)]="nombre">
          <input  type="text" placeholder="Ingrese su Destino" [(ngModel)]="destino">

          <ion-button class="destino"(click)="guardarDestino(destino,nombre)">Pedir</ion-button>
          
          <ion-button class="destino" [routerLink]="['/home']">Home</ion-button>





          
          


        </div>
          
        
      
    </ion-content>
      
    
   
    
  </ion-app>

      

  
  
</ion-content>
