ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }

#contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    row-gap: 15px;
    background-color: var(--fondo);

    
    ion-icon{
        color: var(--icono);
        font-size: 6rem;
    }
    ion-list{
        color: var(--textos);
        
        font-size: .8rem;
    }

    h1{
        color: var(--textos);
        font-size: 2rem;
    }
    p{
        color: var(--textos);
        font-size: .8rem;
    }




}

#tema{
    color: var(--icono);
    font-size: 1.2rem;
}
