#contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px; // Espacio alrededor del contenido
  background-color: var(--fondo);
  transition: background-color 0.3s; // Transición suave

  h1 {
    font-size: 2rem;
    color: var(--primary-color, #d5d5d5); // Color del título
    margin: 20px 0; // Espacio alrededor del título
  }

  p {
    font-size: 1rem;
    color: var(--textos); // Color del texto descriptivo
    margin: 10px 0; // Espacio entre párrafos
  }

  ion-button {
    margin: 10px 0; // Espacio entre botones
    border-radius: 8px; // Bordes redondeados

    &.primary {
      background-color: var(--primary-color, #4a90e2); // Color personalizado para Login
    }

    &.secondary {
      background-color: var(--secondary-color, #e94e77); // Color personalizado para Registro
    }

    &.success {
      background-color: var(--success-color, #28a745); // Color personalizado para Pedir
    }

    &.warning {
      background-color: var(--warning-color, #ffc107); // Color personalizado para Llevar
    }
  }

  ion-fab{
    color: #e94e77;
  }
}




#tema {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  color: var(--textos);
  transition: color 0.3s; // Transición suave
}
