<ion-content [fullscreen]="true" class="ion-padding">
  <ion-app>
    <div class="ion-page" id="main-content">
         
        <ion-content>

            <!-- Parte con secion iniciada -->

            <ng-container *ngIf="isLoggedIn(); else loggedOut">

              <ion-fab>
                <ion-fab-button size="small">
                  <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="end">
                <ion-fab-button>
                  <ion-icon (click)="borrarSecion()" (click)="logout()" name="log-out"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon [routerLink]="['/pedir']" name="search"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon [routerLink]="['/llevar']" name="car"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon [routerLink]="['/perfil']" name="person"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                  <ion-icon (click)="cambiarTema()" src="/assets/{{icono}}.svg"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
              
              <div id="contenedor">

                <h1>Bienvenido(a) a TeLlevoAPP</h1>
                <p>TeLlevoAPP es una aplicación para estudiantes de Duoc que tienen problemas de movilización y para aquellos
                que quieren ayudar.</p>


                

                <p>¿Qué deseas hacer el día de hoy?</p>
                <ion-button expand="full" color="success" [routerLink]="['/pedir']"
                  [ngStyle]="{'border': '2px solid #28a745', 'border-radius': '8px'}">Pedir</ion-button>
                <ion-button expand="full" color="warning" [routerLink]="['/llevar']"
                  [ngStyle]="{'border': '2px solid #ffc107', 'border-radius': '8px'}">Llevar</ion-button>




              </div>
      
            </ng-container>




            <!-- parte con secion no iniciada -->

            <ng-template #loggedOut>

              <ion-fab>
                <ion-fab-button size="small">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="end">
                  <ion-fab-button>
                    <ion-icon [routerLink]="['/login']" name="log-in"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button>
                    <ion-icon [routerLink]="['/registro']" name="person-add"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button>
                    <ion-icon (click)="cambiarTema()" src="/assets/{{icono}}.svg"></ion-icon>
                  </ion-fab-button>
                </ion-fab-list>
              </ion-fab>

              <div id="contenedor">

                <h1>Bienvenido(a) a TeLlevoAPP</h1>
                <p>TeLlevoAPP es una aplicación para estudiantes de Duoc que tienen problemas de movilización y para aquellos
                que quieren ayudar.</p>
                <p>Para acceder a las caracteristicas de la aplicación por favor inicia secion haciendo clic <a href="/login">aqui</a> o en la opcion en el icono del +</p>
              </div>
              
              </ng-template>

              <!-- Borrado de Secion -->

              <!-- <ion-button (click)="borrarSecion()">Borrar Secion</ion-button> -->


        </ion-content>
      
    </div>

  </ion-app>

</ion-content>