#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px; // Espacio alrededor del contenido
    background-color: var(--fondo);
    transition: background-color 0.3s; // Transición suave
  
    ion-icon {
      color: var(--icono);
      font-size: 6rem;
      margin-bottom: 10px; // Espacio debajo del icono
    }
  
    h1 {
      color: var(--textos);
      font-size: 2rem;
      margin: 10px 0; // Espaciado vertical
      text-align: center; // Centrar texto
    }
  
    input {
      height: 3rem;
      width: 80%;
      margin: 10px 0; // Espacio entre campos
      border-radius: 10px;
      border: 1px solid #ccc; // Borde suave
      padding: 0 10px;
      font-size: 1rem;
  
      &:focus {
        border-color: var(--icono); // Borde de enfoque
        outline: none; // Sin borde de enfoque
      }
    }
  
    p {
      color: var(--textos);
      cursor: pointer;
      font-size: 0.9rem;
      text-align: center; // Centrar texto
      margin: 10px 0; // Espacio vertical
    }
  
    a {
      color: var(--icono); // Color del enlace
      text-decoration: underline; // Subrayar el enlace
    }
  }
  
  #tema {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
    color: var(--textos);
    transition: color 0.3s; // Transición suave
  }
  
  ion-button {
    width: 80%;
    margin: 10px 0; // Espacio entre botones
    background-color: var(--icono);
    color: #ffffff;
    border-radius: 10px; // Bordes redondeados
  
   
  }
  