<ion-content [fullscreen]="true">
  <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  <div id="contenedor">
    <ion-icon src="/assets/logo.svg" id="logo"></ion-icon>
    <h1>TeLLevoAPP</h1>
    <input type="text" placeholder="Ingrese su Email" [(ngModel)]="email">
    <input type="text" placeholder="Ingrese su nombre" [(ngModel)]="nombre">
    <input type="text" placeholder="Ingrese su Apellido" [(ngModel)]="apellido">
    <input type="password" placeholder="Ingrese una Contraseña" [(ngModel)]="clave1">
    <input type="password" placeholder="Repita la Contraseña" [(ngModel)]="clave2">
    <ion-button expand="full" (click)="registro()" >Crear Cuenta</ion-button>
    <p>Tienes Cuenta? <a [routerLink]="['/login']">Haz Click Aquí</a></p>
    <ion-button expand="full" [routerLink]="['/home']">Volver</ion-button>
  </div>
</ion-content>
